<!-- blog/templates/blog/post_detail.html -->

{% extends "blog/base.html" %}
{% load static %}
{% block page_title %}{{ post.title }}{% endblock %}
{% block main %}
<article id="post-detail-article">
    <h1>{{ post.title }}</h1>
    <span class="published">Published <time>{{ post.published }}</time></span><br>
    <span class="author">{{ post.author.get_full_name }}</span><br>
    <ul class="post-comma-list">
        {% for topic in post.topics.all %}
        <li><a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a></li>
        {% endfor %}
    </ul>
    <section class="content">{{ post.content|safe|linebreaks }}</section>
    <hr>
    <section class="comment">
        <h3>Latest Comments</h3>
        {% if not post.comments.all %}
            No comments posted. <a href="#"> Add comment </a>
        {% else %}
            {% for comment in post.comments.all %}
                <strong>
                    By {{ comment.name }} | {{ comment.created }}
                </strong>
                </br>
                {{ comment.text }}
                </br></br>
                <a href="#"><img src="{% static 'blog/thumbsup.png' %}" alt="Thumbs Up" width="20" height="20"></a>
                <a href="#"><img src="{% static 'blog/thumbsdown.png' %}" alt="Thumbs down" width="20" height="20"></a>
            </br></br>
            {% endfor %}
        {% endif %}
        <hr>
    </section>
    {% include "blog/comment_form.html" %}
</article>
{% endblock %}

{% if post.banner %}
    <img src="{{ post.banner.url }}" width="100%" ALT="Banner image">
{% endif %}
<!-- comment -->